body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    max-height: 90%;
    overflow: auto;
}

section {
    height: 100%;
}

p {
    margin: 0;
}

hr {
    margin: 15px 0;
}

.b {
    font-weight: bolder;
}

.alert {
    color: var(--select);
    margin: 0 5px;
    background-color: var(--dark-bg);
    font-size: larger;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

form label {
    flex: 0 0 140px;
    text-align: right;
    margin-right: 15px;
    font-weight: 500;
}

form input[type="text"], form input[type="number"] {
    flex: 1;
    max-width: 520px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: inherit;
}

form select {
    width: auto;
    min-width: 100px;
    padding: 6px;
}

.actions {
    margin-top: 20px;
    padding-left: 155px;
    display: flex;
    justify-content: space-between;
    max-width: 541px;
}

form input[type="submit"],
form input[type="button"] {
    color: var(--text);
    background-color: transparent;
    border: 2px solid var(--text);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bolder;

    &:hover {
        background-color: var(--text);
        color: var(--bg);
    }
}

form input[type="submit"] {
    color: var(--select);
    border-color: var(--select);
    font-size: 22px;
    box-shadow: 0 0 4px 6px rgba(255, 51, 85, 0.11);

    &:hover {
        background-color: var(--select);
    }
}
