:root {
    --text: #f9fafb;
    --light-text: #939393;
    --title-text: #60a8f0;
    --bg: #1f2933;
    --light-bg: #2b505e;
    --dark-bg: #161f25;
    --select: #ff3355;
}

p {
    margin: 0;
}

.b {
    font-weight: bolder;
}

.ssm {
    font-size: x-small;
}

.sm {
    font-size: small;
}
