/* Main */

@font-face {
    font-family: 'dejavu_sans_monobook';
    src: url('DejaVuSansMono-webfont.eot');
    src: url('DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
            url('DejaVuSansMono-webfont.woff2') format('woff2'),
            url('DejaVuSansMono-webfont.woff') format('woff'),
            url('DejaVuSansMono-webfont.ttf') format('truetype'),
            url('DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --trans-50: rgba(0, 0, 0, 0.5);
    --trans-80: rgba(0,0,0,0.8);
}

.material-symbols-outlined {
    font-size: 20px;
}

body {
    background-color: var(--b-main);
    color: var(--t-main);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 0;
}

hr {
    border-color: var(--t-focus);
}

/* Sections */
section {
    margin: 1em;
}

.section {
    background: var(--b-sec);
    border: 32px solid transparent;
    color: var(--t-main);
    filter: drop-shadow(0 2px 3px var(--trans-80));
    overflow: hidden;
    padding: 0.3em 1em;
    position: relative;
    z-index: 1;
}
.section::before, .section::after  {
    border: 32px solid transparent;
    content: "";
    pointer-events: none;
    position: absolute;
}
