<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Code Adventure</title>
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/style2026.css">
    <link rel="preload" as="image" href="/static/images/2025/style_bg/scifi.png">
    <link rel="preload" as="image" href="/static/images/2025/style_bg/scifi2.png">
    <link rel="preload" as="image" href="/static/images/2026/style_bg/paper.png">
    <link rel="preload" as="image" href="/static/images/2026/style_bg/paper2.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg"/>
    <link rel="icon" href="/static/favicon.ico"/>
</head>
<body>
<a href="#main-content" class="skip-link">Skip to Main content</a>
<!--<a href="/" class="float">&lt;</a>-->

<nav>
    <div class="nav">
        <a href="#">Year</a>
        <a href="#">How-To</a>
        <a href="#">Champions</a>
        <a href="#">Gratitude</a>
        <a href="#">Sponsors</a>
        <div class="user-menu logged-in hidden">
            <img src="/img/profile.jpg" alt="Profile" />
            <div class="dropdown">
                <a href="#">Logout</a>
            </div>
        </div>
        <div class="user-menu guest">
            <span>Guest ▾</span>
            <div class="dropdown">
                <a href="#">Login</a>
            </div>
        </div>
    </div>
</nav>

<header class="section">
        <h1>Practical Python</br>Code Adventure</h1>
</header>
<main id="main-content">
    <section class="section" id="partone">
        <p>
            TEST
        </p>
    </section>
    <section class="section" id="parttwo">
        <p>
            TEST
        </p>
    </section>

</body>
</html>