<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Coding Challenge Adventure</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/style2026.css">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg"/>
    <link rel="icon" href="/static/favicon.ico"/>
</head>
<body>
<a href="#main-content" class="skip-link">Skip to Main content</a>
<a href="/" class="float">&lt;</a>

<header>
    <div class="section">
        <h1>Challenge 1</h1>
    </div>
</header>

</body>
</html>