<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Practical Python Code Adventure</title>
    <link href="/static/style/navbar.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <link href="/static/style/style2026.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
          rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"/>
    <link as="image" href="/static/images/2025/style_bg/scifi.png" rel="preload">
    <link as="image" href="/static/images/2025/style_bg/scifi2.png" rel="preload">
    <link as="image" href="/static/images/2026/style_bg/paper.png" rel="preload">
    <link as="image" href="/static/images/2026/style_bg/paper2.png" rel="preload">
    <link href="/static/favicon.svg" rel="icon" type="image/svg+xml"/>
    <link href="/static/favicon.ico" rel="icon"/>
</head>
<body>
<a class="skip-link" href="#main-content">Skip to Main content</a>
<!--<a class="float" href="/">&lt;</a>-->

<nav class="navbar">
    <div class="nav">
        <a href="#">
            <span class="material-symbols-outlined">
                calendar_clock
            </span>
            <span class="nav-text">2025</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                help
            </span>
            <span class="nav-text">How-To</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                trophy
            </span>
            <span class="nav-text">Champions</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                favorite
            </span>
            <span class="nav-text">Gratitude</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
            star_shine
            </span>
            <span class="nav-text">Sponsors</span>
        </a>
        <div class="user-menu hidden">
            <img alt="Logout" src="/static/images/2026/index/logo.png">
            <span class="material-symbols-outlined user-action">emoji_people</span>
            <span class="user-action">Logout</span>
        </div>
        <div class="user-menu">
            <span class="material-symbols-outlined user-label">emoji_people</span>
            <span class="user-label">Guest</span>
            <span class="material-symbols-outlined user-action">emoji_people</span>
            <span class="user-action">Login</span>
        </div>
    </div>
</nav>

<header class="section">
    <h1>Logout</h1>
</header>

<section class="section" id="announcement">
    <div class="img-container">
        <img src="/static/images/logout.png" alt="Login Image">
    </div>
    <div>
        <h2>Logout of Your Account</h2>
        <div>
            <h3>Are you sure you want to Logout?</h3>
            <button onclick="location.href='/logout'">Yes</button>
            <button onclick="location.href='/'">No</button>
        </div>
    </div></br>
    <p>
        <button onclick="location.href='/index.html'">
            Home
        </button>
    </p>
</section>

</body>
</html>