<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Practical Python Code Adventure</title>
    <link href="/static/style/sponsor.css" rel="stylesheet">
    <link href="/static/style/navbar.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <link href="/static/style/style2026.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
          rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"/>
    <link as="image" href="/static/images/2025/style_bg/scifi.png" rel="preload">
    <link as="image" href="/static/images/2025/style_bg/scifi2.png" rel="preload">
    <link as="image" href="/static/images/2026/style_bg/paper.png" rel="preload">
    <link as="image" href="/static/images/2026/style_bg/paper2.png" rel="preload">
    <link href="/static/favicon.svg" rel="icon" type="image/svg+xml"/>
    <link href="/static/favicon.ico" rel="icon"/>
</head>
<body>
<a class="skip-link" href="#main-content">Skip to Main content</a>
<!--<a class="float" href="/">&lt;</a>-->

<nav class="navbar">
    <div class="nav">
        <a href="#">
            <span class="material-symbols-outlined">
                calendar_clock
            </span>
            <span class="nav-text">2025</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                help
            </span>
            <span class="nav-text">How-To</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                trophy
            </span>
            <span class="nav-text">Champions</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                favorite
            </span>
            <span class="nav-text">Gratitude</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
            star_shine
            </span>
            <span class="nav-text">Sponsors</span>
        </a>
        <div class="user-menu hidden">
            <img alt="Logout" src="/static/images/2026/index/logo.png">
            <span class="material-symbols-outlined user-action">emoji_people</span>
            <span class="user-action">Logout</span>
        </div>
        <div class="user-menu">
            <span class="material-symbols-outlined user-label">emoji_people</span>
            <span class="user-label">Guest</span>
            <span class="material-symbols-outlined user-action">emoji_people</span>
            <span class="user-action">Login</span>
        </div>
    </div>
</nav>

<header class="section">
    <h1>Partnerships and Sponsors</h1>
</header>

<section class="section" id="announcement">
    <div class="img-container">
        <img src="/static/images/sponsor.png" alt="Sponsor Image">
    </div>
    <div>
        <h2>What We Are</h2>
        <p>
            Practical Python Code Adventure is a story-driven coding
            challenge site focused on problem-solving and learning algorithms
            by doing, backed by support of an educational Discord community.
        </p>
        <h2>How Can I Sponsor?</h2>
        <p>
            Sponsorships help support development, keep content accessible, and
            grow the project. However, sponsors do not influence puzzle content,
            solutions, or difficulty.
        </p>
        <p>
            If you enjoy this project and want to support fun educational
            websites like this, there are four different ways you can be a sponsor:
        </p>
        <ul class="tiers">
            <li class="tier1-key">Tier 1: Wayfarer Level</li>
            <ul class="u">One Time Donation of $5+</ul>
            <ul><li>Your username is listed as a Wayfarer Level Patron</li></ul>
            <li class="tier1plus-key">Tier 1+: Pathfinder Level</li>
            <ul class="u">One Time Donation of $20+</ul>
            <ul>
                <li>Your username is listed as a Pathfinder Level Patron</li>
                <li>Your GitHub profile <i class="devicon-github-original"></i> is linked</li>
            </ul>
            <li class="tier2-key">Tier 2: Explorer Level</li>
            <ul class="u">$84 Yearly Donation</ul>
            <ul>
                <li>Recognition as an Explorer Level Patron</li>
                <li>
                    Your company logo (up to 80px high × 100px wide) featured
                    on the site and linked to your website
                </li>
            </ul>
            <li class="tier3-key">Tier 3: Pioneer Level</li>
            <ul class="u">Yearly Donation of $144</ul>
            <ul>
                <li>Recognition as a Pioneer Level Patron</li>
                <li>
                    Your company logo (up to 120px high × 300px wide) featured
                    on the site and linked to your website
                </li>
                <li>Up to 50-word company profile included with your logo</li>
            </ul>
        </ul>
        <hr>
        <p class="b">
            Donations can be sent via <a href="https://buymeacoffee.com/jefethepug">
            my Buy Me A Coffee profile</a>.
        </p>
        <p class="b">
            Other inquiries can be sent via
            <a href="mailto:jefethepug@protonmail.com">email</a>.
        </p>

    </div>
</section>
<section class="section" id="sponsors">
    <h2>Sponsors</h2>
    <div class="img-container">
        <img class="tier" src="/static/images/T3-Pioneer.png" alt="Tier3 Sponsors" />
    </div>
    <div class="tier3-box">
<!--        This space is waiting for its first Pioneer!-->
        <ul class="tier3-lists">
            <li class="pioneer">
                <a href="#">
                    <div class="tier3-layout">
                        <div class="box-a"><img class="img-3" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company A"></div>
                        <div class="box-b">Google</div>
                        <div class="box-c">Headquartered at the "Googleplex" in Mountain View, California, Google dominates the digital advertising and mobile operating system markets. As of 2026, it remains a pioneer in artificial intelligence, quantum computing, and sustainable technology, striving to make information universally accessible and useful through its diverse portfolio of hardware and software solutions.</div>
                    </div>
                </a>
            </li>
            <li class="pioneer">
                <a href="#">
                    <div class="tier3-layout">
                        <div class="box-a"><img class="img-3" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company A"></div>
                        <div class="box-b">Google</div>
                        <div class="box-c">Headquartered at the "Googleplex" in Mountain View, California, Google dominates the digital advertising and mobile operating system markets. As of 2026, it remains a pioneer in artificial intelligence, quantum computing, and sustainable technology, striving to make information universally accessible and useful through its diverse portfolio of hardware and software solutions.</div>
                    </div>
                </a>
            </li>
            <li class="pioneer">
                <a href="#">
                    <div class="tier3-layout">
                        <div class="box-a"><img class="img-3" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company A"></div>
                        <div class="box-b">Google</div>
                        <div class="box-c">Headquartered at the "Googleplex" in Mountain View, California, Google dominates the digital advertising and mobile operating system markets. As of 2026, it remains a pioneer in artificial intelligence, quantum computing, and sustainable technology, striving to make information universally accessible and useful through its diverse portfolio of hardware and software solutions.</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="img-container">
        <img class="tier" src="/static/images/T2-Explorer.png" alt="Tier2 Sponsors" />
    </div>
    <div class="tier2-box">
<!--        This space is waiting for its first Explorer!-->
        <ul class="tier2-lists">
            <li class="explorer">
                <a href="#">
                    <img class="img-2" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company A">
                    <p>Company A</p>
                </a>
            </li>
            <li class="explorer">
                <a href="#">
                    <img class="img-2" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company B">
                    <p>Company B</p>
                </a>
            </li>
            <li class="explorer">
                <a href="#">
                    <img class="img-2" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company C">
                    <p>Company C</p>
                </a>
            </li>
            <li class="explorer">
                <a href="#">
                    <img class="img-2" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company D">
                    <p>Company D</p>
                </a>
            </li>
            <li class="explorer">
                <a href="#">
                    <img class="img-2" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company E">
                    <p>Company E</p>
                </a>
            </li>
            <li class="explorer">
                <a href="#">
                    <img class="img-2" src="https://1000logos.net/wp-content/uploads/2021/05/Google-logo.png" alt="Company F">
                    <p>Company F</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="img-container">
        <img class="tier" src="/static/images/T1-WayfarerPathfinder.png" alt="Tier1 Sponsors" />
    </div>
    <div class="tier1-box">
<!--        This space is waiting for its first Pathfinder!-->
        <ul class="tier1-lists">
            <li class="pathfinder">
                <a href="#">
                    Item one <i class="devicon-github-original"></i>
                </a>
            </li>
            <li class="pathfinder">
                <a href="#">
                    Item two <i class="devicon-github-original"></i>
                </a>
            </li>
            <li class="wayfarer">
                Item three
            </li>
            <li class="wayfarer">
                Item four
            </li>
            <li class="pathfinder">
                <a href="#">
                    Item five <i class="devicon-github-original"></i>
                </a>
            </li>
            <li class="wayfarer">
                Item six
            </li>
        </ul>
    </div>
</section>

<section class="section" id="partner">

    <div>
        <h2>Partners</h2>
        <h3>Practical Python</h3>
        <p>
            This site is in partnership with
            <a href="https://github.com/practical-python-org">
                Practical Python</a>.
            A growing Discord community with staff and users dedicated to
            fostering an environment of supportive learning and encouragement
            in not only the Python programming language but also many other
            computer science topics and DevOps.
        </p>
    </div><br />
    <p>
        <button onclick="location.href='/index.html'">
            Home
        </button>
    </p>
</section>
</body>
</html>