/* Paper */

:root {
    --b-main: #99b0d1;
    --b-sec: #b79162;
    --b-sec-lite: #fffef0;
    --b-code: #dadada;

    --t-main: #643f1e;
    --t-focus: #916541;
    --t-focus-shadow: #cdb394;
    --t-link: #B03A2E;
    --t-nav: #fffef0;
    --t-nav-special: #B03A2E;

    --i-on: #6a6c33;
    --i-off: #dadada;

    --c-main: #282e13;
    --c-final: #9a931b;

    --stone-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    --stone-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cdefs%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1 0.3' numOctaves='20' result='f'/%3E%3CfeColorMatrix in='f' type='matrix' values='0 0 0 0 0, 0 0 0 0 0, 0 0 0 0 0, 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='gray' filter='url(%23n)' opacity='.8'/%3E%3C/svg%3E");
}

/* Sections */
.section {
    background-clip: padding-box;
    border-image: url(../images/2026/style_bg/paper.png) 32 repeat;
    &::before {
        background: var(--b-sec-lite);
        border-image: url(../images/2026/style_bg/paper2.png) 32 repeat;
        filter: blur(15px);
        inset: -3px;
        z-index: -1;
    }
}

/* Images */
.img-container {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    overflow: hidden;
}



/* Stone Elements */
.code, table, tr, th, td, form, a.float {
    background-blend-mode: overlay;
    background-color: var(--b-code);
    background-image: linear-gradient(
            to bottom right,
            rgba(255, 255, 255, 0.1),
            rgba(0, 0, 0, 0.15)
        ),
        var(--stone-noise);
    border: none;
    border-radius: var(--stone-radius);
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.25),
    inset -2px -2px 1px rgba(0, 0, 0, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    color: transparent;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -1px 0px rgba(0, 0, 0, 0.892);
}