{% extends "default.html" %}

{% block title %} Challenge Champions {% endblock %}

{% block main %}
<section class="section" id="announcement">
  <div class="imgcontainer">
    <img src="{{ url_for('static', filename='images/good_job.png') }}" alt="Congratulations Image">
  </div>
  <div>
    <h2>Congratulations</h2>
    <h3>{{ year }} Champions</h3>
    <p>everyone who completed both parts of all 10 weeks!</p>

    <ul>
    {% for i in range(champions|length) %}
      <li>
        {% if githubs[i] %}
        <a href="https://github.com/{{ githubs[i] }}" target="_blank" rel="noopener noreferrer nofollow" >
          {{ champions[i] }} <i class="devicon-github-original"></i>
        </a>
        {% else %}
        <span class="false-link">
            {{ champions[i] }}
        </span>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div></br>
  <p>
    <button onclick="location.href='/index.html'">
      Home
    </button>
  </p>
</section>
{% endblock %}